################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
UnityTempFile*
/obj/Debug
/Packages
ProjectSettings
Temp
Assembly-CSharp.csproj*
EpiBubble.sln*
/.vs
